<link rel="stylesheet" href="/style.css">

<h1>Welcome!</h1>
<p>Choose between "Rock", "Paper" or "Scissors" to win a game against your opponent. "Rock" beats "Scissors", "Scissors" beats "Paper" and "Paper" beats "Rock". If both of you choose the same thing, then it's a draw and you start over.</p>
